<div>
  <h1 align="center">Table Pagination with Sample Data</h1>
</div>
<div class="paginate-div">
    <table id="paginate" align="center">
      <thead>
      <tr>
        <th *ngFor="let col of columns">
          {{col.disp}}
        </th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let d of displayData">
         <td *ngFor="let col of columns">
            {{d[col.key]}}
         </td>
        <td><button (click)="submit(d)">Submit</button></td>
      </tr>
      </tbody>
    </table>
</div>
<div class="paginator-div">
<table>
  <tfoot>
  <tr>
    <td>
      Please select columns to be displayed
    </td>
    <td>
<!--      <input type="number" [(ngModel)]="numberOfCols" (ngModelChange)="currentPage = 1; paginator()"> This will reset to the first page-->
      <input type="number" [(ngModel)]="numberOfCols" (ngModelChange)=" paginator()"><!--     This will not reset to the first page-->

    </td>
    <td>
      of 200
    </td>
    <td>
      <button [disabled]="currentPage <= 1" (click)="currentPage = currentPage - 1; paginator()">back</button>
    </td>
    <td>
      <button [disabled]="currentPage >= getLength()" (click)="currentPage = currentPage + 1; paginator()">next</button>
    </td>
    <td>
    Showing {{currentPage}} of {{getLength()}}
    </td>
  </tr>
  </tfoot>
</table>
</div>
