#paginate {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#paginate td, #paginate th {
  border: 1px solid #ddd;
  padding: 8px;
}

#paginate tr:nth-child(even){background-color: #f2f2f2;}

#paginate tr:hover {background-color: #ddd;}

#paginate th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1172AB;
  color: white;
}

.paginate-div{
  width: 80%;
  height: 500px;
  overflow: scroll;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}
.paginator-div{
  width: 70%;
  height: 20px;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
}


th {
  background: white;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
